<p id="notice"><%= notice %></p>

<h1>Listing Letters</h1>

<table>
  <thead>
    <tr>
      <th>Candidates</th>
      <th>Experience</th>
      <th>Industry</th>
      <th>Current</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.candidates %></td>
        <td><%= letter.experience %></td>
        <td><%= letter.industry %></td>
        <td><%= letter.current %></td>
        <td><%= link_to 'Show', letter %></td>
        <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
        <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
